<?xml version="1.0" encoding="utf-8"?>

<!--Log4net setup for logging to a file and console-->
<log4net>
	<appender name="RollingFile" type="log4net.Appender.FileAppender">
		<file value="C:\Temp\demos\Logs\Recipes\Recipes.log" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5p %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>

